<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <settings>
      <httpListener unescapeRequestUrl="false"/>
    </settings>
  </system.net>
  <uri>
    <schemeSettings>
      <add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
      <add name="https" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/>
    </schemeSettings>
  </uri>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SOAPendpoint" maxReceivedMessageSize="100000000" />
      </basicHttpBinding>
    </bindings>   
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceX/Service1/SOAPendpoint"
        binding="basicHttpBinding" bindingConfiguration="SOAPendpoint"
        contract="ServiceX.IRequest" name="SOAPendpoint" />
    </client>
    <services>
      <service name="ServiceY.RequestY">
        <endpoint address="SOAPendpoint"
                  binding="basicHttpBinding"
                  bindingConfiguration=""
                  name="SOAPendpoint"
                  bindingName=""
                  contract="ServiceY.IRequestY">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="JSONendpoint"
                  binding="webHttpBinding"
                  behaviorConfiguration="jsonBehavior"
                  contract="ServiceY.IRequestY">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServiceY/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <!--enableWebScript/-->
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
          définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
